# Carters Portfolio- .gitignore
# ©CarterPerez | 2025 | ©AngelaMos

*.venv/
*venv
*.pyc
*.egg-info/
.bzr
*.cache
.direnv
.eggs
.git
.git-rewrite
.hg
.ipynb_checkpoints
.mypy_cache
.nox
.pyenv
.pytest_cache
.pytype
.ruff_cache
.svn
.tox
__pycache__
__pycache__/
_build
build
dist
site-packages
backend/.env.dev
backend/.env.prod
.claude
backend/.coverage
backend/carter.egg-info
conf/nginx/logs/
